* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* padding variables */
  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;
  --padding-s: 5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;

  /* border radius variables */
    --border-radius-s: 6px;
    --border-radius-m: 12px;
    --border-radius-l: 18px;
    --border-radius-xl: 24px;
    --border-radius-xxl: 30px;
 




  /* color variables */
  --background: #f4f7f6;
  --card-background: #ffffff;
  --nav-background: #ffffff;
  --border-color: #e0e0e0;

  --font-color: #333333;
  --font-color-light: #777777;

  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-dark: rgba(0, 0, 0, 0.2);
}

html,
body {
  width: 100%;
  height: 100%;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color:green;
}
