@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
  padding: 0px 16px;
}

.main-section {
  width: 100%;
  max-width: 900px;
  background: #fff;
  margin: 80px auto;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.header-section div {
  display: flex;
  justify-content: space-between;
}
.header-section div h2 {
  font-size: 24px;
  color: #333;
  text-transform: capitalize;
}

.progress-container{
    background-color: #333;
    
}

.progress-bar{
    width: 100%;
    height: 8px;
    background: #e0e0e0;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
}

.progress-fill{
    height: 100%;
    width: 40%;
    background: #76c7c0;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}